@model IEnumerable<projetPII.Models.Event>

@{
    ViewData["Title"] = "Evenements";
}

<h2>Evenements</h2>

<a asp-controller="Event" asp-action="Create">Ajouter un évènement</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lieu)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lieu)
                </td>
                <td>
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id">Supprimer un évènement</a>
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Modifier un évènement</a>                
                </td>
            </tr>
        }
    </tbody>
</table>
