@model IEnumerable<projetPII.Models.Event>

@{
    ViewData["Title"] = "Evenements";
}

<h2>Cours hebdomadaire</h2>

<table class="table">
    <tr>
    <th>
    </th>
    <th>
        Mardi
    </th>
    <th>
        Mercredi
    </th>
    <th>
        Jeudi
    </th>
    <th>
        Vendredi
    </th>
    </tr>
    <tr>
    <th>
        19h  - 20h
    </th>
    <td>
        Salsa <br/>
        niveau 1 et 2 <br/>
        Floirac - M270
    </td>
    <td>
        initiation Kizumba <br/>
        niveau 2 <br/>
        Mérignac - B11
    </td>
    <td>
        initiation Salsa <br/>
        niveau 2 <br/>
        Mérignac - B11
    </td>
    <td>
        initiation Bachata <br/>
        niveau 2 <br/>
        Mérignac - B11
    </td>
    </td>
    <tr>
    <th>
        20h  - 21h
    </th>
    <td>
        Bachata <br/>
        niveau 1 et 2 <br/>
        Floirac - M270
    </td>
    <td>
        initiation Kizumba <br/>
        niveau 1 <br/>
        Mérignac - B11
    </td>
    <td>
        initiation Salsa <br/>
        niveau 1 <br/>
        Mérignac - B11
    </td>
    <td>
        initiation Bachata <br/>
        niveau 1 <br/>
        Mérignac - B11
    </td>
    </tr>
    <tr>
    <th>
        21h  - 22h
    </th>
    <td>
        Kizumba <br/>
        niveau 1 et 2 <br/>
        Floirac - M270

    </tr>
</table>

<h2>Evenements</h2>

<a asp-controller="Event" asp-action="Create">Ajouter un évènement</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionCourte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lieu)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionCourte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lieu)
                </td>
                <td>
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id">Supprimer un évènement</a>
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Modifier un évènement</a>                
                </td>
            </tr>
        }
    </tbody>
</table>
